@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lora&display=swap');

#wrapper {
  --b: var(--itchio_bg_color);
  --b2: var(--itchio_bg2_color);
  --b2s: var(--itchio_bg2_sub);
  --t: var(--itchio_text_color);
  --l: var(--itchio_link_color);
  --br: var(--itchio_border_color);
  --btn: var(--itchio_button_color);
  --btn_f: var(--itchio_button_fg_color);
  --btn_s: var(--itchio_button_shadow_color);
}

.custom-docslnk {
  display: block;
  margin: auto;
  width: fit-content;
}
.custom-docslnk:after{
  content: "  \1F87A";
  color: var(--t);
}

.formatted_description p {
  max-width: 60em;
  margin: 1em auto;
}

/*.game_devlog_post_page {
  background: var(--b);
}*/

.game_devlog_post_page h1, .game_devlog_post_page h2{
  color: var(--l);
  padding-bottom: .2em;
  border-bottom: 1px solid var(--b2s);
}

.game_devlog_post_page code{
  padding: .1em .4em;
  font-size: 95%;
  background: var(--b2s);
  border-radius: 4px;
}

.game_devlog_post_page .split_columns{
  max-width: 980px;
  margin: auto;
}

.responsive #inner_column {
  max-width: 900px;
}

.custom-ft{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: 3em auto;
  max-width: 900px;
}
.custom-ft > div::marker{
  content:"";
}
.custom-ft > div{
  max-width: 12em;
  min-height: 7.2em;
  padding: 1.6em;
  border-radius: 4px;
  border: 1px solid var(--br);
  border-bottom: .5em solid var(--l);
  box-shadow: 0 0 9px #000a;
  margin: 1em 0;
}
.custom-ft img{
  height: 36px;
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
}

#header img{
  object-fit: cover;
/*   width: 100%; */
  height: 300px;
}

.formatted_description > div > div.text-center{
  font-family: 'Ubuntu';
  color: var(--l);
  font-size: 1.7em;
  margin: .7em 0;
}

.formatted_description > div > div.text-center + p {
  max-width: 24em;
  margin-top: 2em;
}

.custom-pge:after{
  display: inline-block;
  content:"game";
  width: 6ch !important;
  text-align: center;
  animation: p 2s linear infinite;
  transform: rotate(4deg);
  color: var(--t);
  font-weight: bold;
  margin:0 1ch;
}@keyframes p {
  0% {content:"game"}
  25% {content:"tool"}
  50% {content:"asset"}
  75% {content:"devlog"}
}



.right_col.column{
  display: none !important;
}
.header_buy_row{
  margin-top: 2em;
  text-align: center;
}

.header_buy_row p {
  display:  none;
}






.custom-prevcont {
  container-name: prevcont;
  container-type: inline-size;
  position: relative;
  margin: auto;
  overflow-y: scroll;
  max-height: 96vh;
  min-width: 280px;
  max-width: 1000px;
  resize: horizontal;
}

.custom-prevctrl:nth-child(2):after {
  position: absolute;
  white-space: nowrap;
  content:"\1F878  try it!";
  top: .1em;
  left: 2.5em;
  font-weight: bold;
  color: var(--b)
}



.custom-preview {
  transition: .8s ease ;
  background: var(--b2);
/*   padding: .2em; */
  padding-top: 1.5em;
  border: 3px dashed var(--t);
/*   border-top: 0; */
  color: var(--t);
  display: grid;
  grid-template-columns:
      1fr 1fr 2fr
    ;
}
.custom-preview a {
  color: var(--l);
}
.custom-preview h3 {
  font-family: var(--ff);
}
.custom-preview > div {
  margin: .5em;
  border: 1px solid var(--br);
}
.custom-preview > div > *{
  margin:0;
  padding: .8em 1em;
}
.custom-preview > div > h4{
  border-bottom: 1px solid var(--br);
  opacity: .3;
}
.custom-preview > div:hover > h4 {
  opacity: 1;
}
.custom-preview > div:nth-child(4),
.custom-preview > div:nth-child(6)
{
  grid-column: 1/3;
}
.custom-preview > div:last-child {
  box-shadow: none;
  grid-column: 1/4;
}
.custom-preview ul {
  padding-left: 2em
}
.custom-preview .custom-accrd {
  margin: 0
}


.custom-prevctrl {
  position: sticky;
  top: .6em;
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: -.6em .5em;
  z-index: 3;
  transition: .2s ease;
  box-shadow:
    0 0 4px #000a,
    0 -1em 0 var(--itchio_link_color)
    ;
}
.custom-prevctrl:hover {
  transform: translateY(.5em)
}

.custom-prevctrl:nth-child(1){
  margin-left: 1em;
  background: linear-gradient( 135deg, #f16f19 48%, #f8fac6 52%);
}
.custom-prevctrl:nth-child(1):hover ~ .custom-preview{
  --ff: 'Lora', serif;
  --b: #e3e3e3;
  --b2: #3f2832;
  --b2s: #533c46;
  --t: #f8fac6;
  --l: #f16f19;
  --br: #694957;
  --btn: #f16f19;
  --btn_f: #fff;
  --btn_s: #dc5a03;
  font-family: var(--ff);
}

.custom-prevctrl:nth-child(2){
  background: linear-gradient( 135deg, #e4fbfd 48%, #09969c 52%);
}
.custom-prevctrl:nth-child(2):hover ~ .custom-preview{
  --ff: 'Indie Flower', cursive;
  --b: #f7fbfa;
  --b2: #e4fbfd;
  --b2s: #cbe2e4;
  --t: #5a667e;
  --l: #09969c;
  --br: #a5e8ee;
  --btn: #91f4f8;
  --btn_f: #1d3031;
  --btn_s: #0000;
  font-family: var(--ff);
}

.more_information_toggle {
  max-width: 450px;
  margin: auto !important;
}
#download{
  border-bottom: 2px dashed #fff6;
}
#download,
#download + .buy_row,
.buy_row + .uploads {
  background: var(--itchio_bg2_sub);
  padding: .5em 1rem;
  margin: 0 auto;
  max-width: 450px;
}
#download + .buy_row {
  padding-top: 1em;
}
.uploads > p {margin: 0}

#devlog, .game_comments_widget > h2 { text-align: center }
#devlog li,
.community_post_form_widget {
  max-width: 600px;
  margin: auto;
}
#devlog li a {
  flex-grow: 1;
  text-align: left;
}


@container prevcont (max-width: 750px) {
  .custom-preview {
    grid-template-columns: auto auto;
  }
/*   .custom-preview > div:nth-child(3),
  .custom-preview > div:nth-child(5),
  .custom-preview > div:nth-child(6),
  .custom-preview > div:nth-child(4) {
  grid-column: 1/3;
  } */
  .custom-preview > div:not(:nth-child(1),:nth-child(2)) {
  grid-column: 1/3;
/*   }
  
.custom-preview > div:last-child{ */
/*   grid-column: unset; */
  grid-column: 1/3;
}
}

@container prevcont (max-width: 456px) {
/*   .custom-preview {
    filter: blur(20px);
  } */
  .custom-preview {
    grid-template-columns: auto;
  }
  .custom-preview > div {
  grid-column: 1/3;
  }
  
}

@media (max-width: 590px){
  .custom-ft {
    grid-template-columns: 70%;
    grid-template-rows: 30% 30% 30%;
  }
  .custom-ft > li:not(:first-child) img {
    margin-top: 3em;
  }
}


/* ================================================================================================ */


/***** ACCORDION - START *****/
.custom-accrd {  
  max-width: 553px;
  margin: auto;
  border: 1px solid var(--t);
  border-color: var(--l);
  border-radius: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.custom-accrd details {
  background: var(--b2s);
  padding: .75em 1.2em;
}

/* Add border inbetween accordion item */
.custom-accrd details:not(:last-child) {
  border-bottom: 1px solid var(--t);
  border-color: var(--l);
}

.custom-accrd details[open] summary {
  margin-bottom: .25em;
}

.custom-accrd summary {
  font-size: 105%;
  cursor: pointer;
  color: var(--l);
  display: flex; /* Remove the default marker */
}

.custom-accrd summary:hover {
  color: var(--t);
  text-decoration: underline;
}

/* Change the default marker */
.custom-accrd summary::after {
  text-align: right;
  flex-grow: 1; /* Move the new marker to the most right */
  content: "\25BA";
}

.custom-accrd details[open] summary:after {
  content: "\25BC";
}

/* Utility classes */
.custom-accrd.custom-left {
  margin: 0;
}

.custom-accrd.custom-right {
  margin: 0 0 0 auto;
}

.custom-accrd.custom-full-w {
  max-width: 100%;
}
/***** ACCORDION - END *****/



/***** ALERT BOX - START *****/
blockquote.custom-warn {
  font-style: normal; /* Remove the italic blockquote font-style */
  border-color: var(--l);
  padding: .05em 1em;
  background: var(--b2s);
  border-radius: 4px;
}

blockquote.custom-warn > p {
  margin-top: 0;
  margin-bottom: 1em !important; /* Override devlog paragraph margin */
}

blockquote.custom-warn > :first-child {
  color: var(--l); /* Color the heading for alert box */
}

/* Add 'warning' exclamation mark symbol */
/*blockquote.custom-warn > :first-child:before {
  content: "\0026A0"; 
  margin-right: .4em;
}*/
/***** ALERT BOX - END *****/



/***** INFO PANEL - START *****/
/* Set up 2 column layout */
.custom-info-ls {
  display: grid;
  grid-template-columns: 25% 60%;
}

.custom-info-ls > div {
  margin: .2em 8px;
}

.custom-info-ls > div:nth-child(odd) {
  text-align: right;
  font-weight: 700;
}

.custom-info-ls div:nth-child(even) > a:not(:last-child, .custom-lb, .custom-tag, kbd):after {
  color: var(--t);
  /* Add commas for every hyperlink elements */
  content: ",";
  margin-right: .2em;
}
/***** INFO PANEL - END *****/



/***** INPUT - START *****/
#wrapper kbd {
  font-size: .9em;
  background: var(--br);
  border-radius: 4px;
  border-bottom: 3px solid var(--b2s);
  padding: .2ch .7ch;
}
/***** INPUT - END *****/



/***** LABEL - START *****/
.custom-lb, .custom-tag {
  background: var(--btn);
  color: var(--btn_f);
  text-decoration: none; /* Remove underline for hyperlinks */
  padding: 0 1ch;
  margin: .15em;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
}

/* Override hyperlink font color */
a.custom-lb, a.custom-tag {
  color: var(--btn_f);
}

p .custom-lb, p .custom-tag {
  margin: 0 .15em;
}

.custom-tag {
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin-right: 1em;
}

/* Add the dot */
.custom-tag:before {
  content: "\2022";
  margin-right: .5ch;
  color: var(--b2s);
}

/* Add the triangle */
.custom-tag:after {
  content:"";
  position:absolute;
  margin-left:.5ch;
  margin-top: -.15em;
  border-top:.8rem solid #fff0;
  border-bottom:.8rem solid #fff0;
  border-left:1em solid var(--btn);
  border-radius:9px;
}
/***** LABEL - END *****/



/***** SPOILER - START *****/
.custom-hd:not(:hover) {
  color: #0000; /* Make the text transparent */
  background: var(--t);
}
/***** SPOILER - END *****/